# Exercise 13: Writing Functions

## Aim: Introduce writing and calling functions.

### Issues covered:
- Writing a simple function
- Indenting code within a function
- Sending arguments to functions
- Calling functions
- Checking arguments in functions

## 1. Let's write a simple function and use it

Use the `def` function to define a function called `hello` to introduce yourself.

In [19]:
def print_greetings():
    return('Hello!')

Did the function return anything? If not, try running it!

In [2]:
print_greetings()

Hello!

## 2. Now let's write a function that takes an argument

Write a function which takes a number and doubles it.

In [18]:
def double(number):
    number_doubled = number*2
    return(number_doubled)

double(56)

112

Test the function by calling it with an integer, then a float.

In [17]:
double(300)
double('e')

600
ee

What happens if you give it a string rather than a number?

In [5]:
# The function repeats the string twice

What happens if you give it 2 numbers?

In [7]:
double(3,5)
#The function fails

TypeError: double() takes 1 positional argument but 2 were given

## 3. Let's take a look at what functions return

Why is the result of the following `None`? Can you fix it?
```
def print_time(hour, minute, second):
    time_string = str(hour) + ':' + str(minute) + ':' + str(second)
    print(time_string)

result = print_time(11, 37, 59)
print('result of call is:', result)
```

In [20]:
def print_time(hour, minute, second):
    time_string = str(hour) + ':' + str(minute) + ':' + str(second)
    return(time_string)

result = print_time(11, 37, 59)
print('result of call is:', result)

result of call is: 11:37:59

Run the following and take a look at what it prints. Restructure it so that instead it prints `calling pressure is 22.5`.
```
def report(pressure):
    print('pressure is', pressure)

print('calling', report, 22.5)
```

In [24]:
def report(pressure):
    return'pressure is', pressure

print('calling', report(22.5))

calling ('pressure is', 22.5)

## 4. Let's write a function to use Pythagoras' Theorem, like in exercise 2.

Define a function `calc_hypo` that takes two arguments, `a` and `b`. Inside the function, define a variable `hypo` equal to the length of the hypotenuse and return the value.

In [25]:
def calc_hypo(a,b):
    hypo = (a**2 + b**2)**(1/2)
    return hypo

calc_hypo(2,3)

3.605551275463989

Test out the function by calling it with the values `3` and `4`.

In [26]:
calc_hypo(3,4)

5.0

Let's improve the function by adding some checks. Use `if` statements to print "bad argument" and return `None` if the argument type isn't `int` or `float`.

In [44]:
def calc_hypo(a,b):
    if type(a) != int or type(b) != int:
        print("bad argument")
        return None
    else:
        hypo = (a**2 + b**2)**(1/2)
        return hypo

Call the function with different arguments to check that this is working.

In [45]:
calc_hypo(2,'s')

bad argument

Add a second check to the function which prints "Bad argument" and returns `None` if a number equal to or less than zero is given.

In [46]:
def calc_hypo(a,b):
    if type(a) != int or type(b) != int:
        print("bad argument")
        return None
    elif a <= 0 or b <= 0:
        print("bad argument")
        return None
    else:
        hypo = (a**2 + b**2)**(1/2)
        return hypo

Test out the check you added.

In [48]:
calc_hypo(5,0)

bad argument

## 5. Extension Activity

1. Write a function which computes the average GDP for each file for a given country, continent and year.

_Hint: You will need the following steps:_
1. Create a function with the arguments country, continent, year.
2. Read the csv file (use the continent variable in the filename to open any file - e.g. the file name should be /data/`continent`_gdp.csv).
3. Use `.loc[ ]` to locate where the data for the country is.
4. Work out the GDP decade using the year given (maybe using floor division `//`).
5. Loop over the columns to find the one which starts with 'gdpPercap_`year`' (make use of `.index` and `.startswith()`).
6. Try calling the function and see what it returns - if you call it for Canada, americas in 1952 your answer should be 11928.55559.

In [75]:
import pandas as pd

def average_gdp(country, continent, year):
    df = pd.read_csv('../data/'+continent+'_gdp.csv', index_col=1)
    c = df.loc[county]
    return df
average_gdp(Austria, europe , 1952)

NameError: name 'Austria' is not defined

In [93]:
import pandas as pd

def avg_gdp_in_decade(country, continent, year):
    data_countries = pd.read_csv('data/' + continent +'_gdp.csv',index_col=0)
    c = data_countries.loc[country]
    gdp_decade = 'gdpPercap_' + str(year // 10)
    total = 0.0
    num_years = 0
    for yr_header in c.index:
        if yr_header.startswith(gdp_decade):
            total = total + c.loc[yr_header]
            num_years = num_years + 1
    return total/num_years

avg_gdp_in_decade('Brazil', 'americas', 1957)

KeyError: 'Brazil'

In [94]:
data_countries = pd.read_csv('data/americas_gdp.csv',index_col=0)
data_countries

,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
continent,,,,,,,,,,,,,
Americas,Argentina,5911.315053,6856.856212,7133.166023,8052.953021,9443.038526,10079.026740,8997.897412,9139.671389,9308.418710,10967.281950,8797.640716,12779.379640
Americas,Bolivia,2677.326347,2127.686326,2180.972546,2586.886053,2980.331339,3548.097832,3156.510452,2753.691490,2961.699694,3326.143191,3413.262690,3822.137084
Americas,Brazil,2108.944355,2487.365989,3336.585802,3429.864357,4985.711467,6660.118654,7030.835878,7807.095818,6950.283021,7957.980824,8131.212843,9065.800825
Americas,Canada,11367.161120,12489.950060,13462.485550,16076.588030,18970.570860,22090.883060,22898.792140,26626.515030,26342.884260,28954.925890,33328.965070,36319.235010
Americas,Chile,3939.978789,4315.622723,4519.094331,5106.654313,5494.024437,4756.763836,5095.665738,5547.063754,7596.125964,10118.053180,10778.783850,13171.638850
Americas,Colombia,2144.115096,2323.805581,2492.351109,2678.729839,3264.660041,3815.807870,4397.575659,4903.219100,5444.648617,6117.361746,5755.259962,7006.580419
Americas,Costa Rica,2627.009471,2990.010802,3460.937025,4161.727834,5118.146939,5926.876967,5262.734751,5629.915318,6160.416317,6677.045314,7723.447195,9645.061420
Americas,Cuba,5586.538780,6092.174359,5180.755910,5690.268015,5305.445256,6380.494966,7316.918107,7532.924763,5592.843963,5431.990415,6340.646683,8948.102923
Americas,Dominican Republic,1397.717137,1544.402995,1662.137359,1653.723003,2189.874499,2681.988900,2861.092386,2899.842175,3044.214214,3614.101285,4563.808154,6025.374752
Americas,Ecuador,3522.110717,3780.546651,4086.114078,4579.074215,5280.994710,6679.623260,7213.791267,6481.776993,7103.702595,7429.455877,5773.044512,6873.262326
Americas,El Salvador,3048.302900,3421.523218,3776.803627,4358.595393,4520.246008,5138.922374,4098.344175,4140.442097,4444.231700,5154.825496,5351.568666,5728.353514
Americas,Guatemala,2428.237769,2617.155967,2750.364446,3242.531147,4031.408271,4879.992748,4820.494790,4246.485974,4439.450840,4684.313807,4858.347495,5186.050003
Americas,Haiti,1840.366939,1726.887882,1796.589032,1452.057666,1654.456946,1874.298931,2011.159549,1823.015995,1456.309517,1341.726931,1270.364932,1201.637154
Americas,Honduras,2194.926204,2220.487682,2291.156835,2538.269358,2529.842345,3203.208066,3121.760794,3023.096699,3081.694603,3160.454906,3099.728660,3548.330846
Americas,Jamaica,2898.530881,4756.525781,5246.107524,6124.703451,7433.889293,6650.195573,6068.051350,6351.237495,7404.923685,7121.924704,6994.774861,7320.880262
Americas,Mexico,3478.125529,4131.546641,4581.609385,5754.733883,6809.406690,7674.929108,9611.147541,8688.156003,9472.384295,9767.297530,10742.440530,11977.574960
Americas,Nicaragua,3112.363948,3457.415947,3634.364406,4643.393534,4688.593267,5486.371089,3470.338156,2955.984375,2170.151724,2253.023004,2474.548819,2749.320965
Americas,Panama,2480.380334,2961.800905,3536.540301,4421.009084,5364.249663,5351.912144,7009.601598,7034.779161,6618.743050,7113.692252,7356.031934,9809.185636
Americas,Paraguay,1952.308701,2046.154706,2148.027146,2299.376311,2523.337977,3248.373311,4258.503604,3998.875695,4196.411078,4247.400261,3783.674243,4172.838464
Americas,Peru,3758.523437,4245.256698,4957.037982,5788.093330,5937.827283,6281.290855,6434.501797,6360.943444,4446.380924,5838.347657,5909.020073,7408.905561
Americas,Puerto Rico,3081.959785,3907.156189,5108.344630,6929.277714,9123.041742,9770.524921,10330.989150,12281.341910,14641.587110,16999.433300,18855.606180,19328.709010
Americas,Trinidad and Tobago,3023.271928,4100.393400,4997.523971,5621.368472,6619.551419,7899.554209,9119.528607,7388.597823,7370.990932,8792.573126,11460.600230,18008.509240
Americas,United States,13990.482080,14847.127120,16173.145860,19530.365570,21806.035940,24072.632130,25009.559140,29884.350410,32003.932240,35767.433030,39097.099550,42951.653090
Americas,Uruguay,5716.766744,6150.772969,5603.357717,5444.619620,5703.408898,6504.339663,6920.223051,7452.398969,8137.004775,9230.240708,7727.002004,10611.462990
Americas,Venezuela,7689.799761,9802.466526,8422.974165,9541.474188,10505.259660,13143.950950,11152.410110,9883.584648,10733.926310,10165.495180,8605.047831,11415.805690